* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Koulen', cursive; */
/* font-family: 'Lexend', sans-serif; */

/* --------------------------------- Navbar --------------------------------- */

body {
  background: #121212;
}

.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    #121212;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icon {
  display: flex;
  color: white;
  font-family: "Koulen";
  font-size: 1.3rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.icon img {
  height: 30px;
}

.nav-input {
  display: flex;
  width: 40%;
  border-bottom: white 2px solid;
}

.nav-input input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-family: "Lexend";
}

.user-butt {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 11px;
  border: white 1px solid;
  padding: 5px;
  text-decoration: underline;
  border-radius: 5px;
  /* background: transparent; */
}

.user-butt:hover {
  color: black;
  background: white;
  border-radius: 2px;
  /* border-bottom: black 1px solid; */
}

.magnify {
  /* background-color: black; */
  height: 100%;
}

.mag-butt {
  transform: translateY(1px);
  height: 23px;
  cursor: pointer;
  border: none;
  background: transparent;
  /* opacity: 0; */
}

/* ------------------------------ Landing Page ------------------------------ */

/* --- Left Landing ---*/
.landing-parent {
  display: flex;
  height: 93vh;
  background: #121212;
  color: antiquewhite;
}

.left-landing {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-bottom: 0px;
  gap: 0.01rem;
  font-family: "Koulen";
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.7);
  width: 50%;
  max-height: 80%;
  /* border: white 2px dotted; */
}

.left-landing p:nth-child(3) {
  color: white;
}

.left-landing p:nth-child(1) {
  animation: fadedown 800ms forwards;
  opacity: 0;
}

.left-landing p:nth-child(2) {
  animation: fadedown 800ms forwards;
  opacity: 0;
  animation-delay: 250ms;
}

.left-landing p:nth-child(3) {
  animation: fadedown 1000ms forwards;
  opacity: 0;
  animation-delay: 600ms;
}

.left-landing p:nth-child(4) {
  font-family: "Lexend";
  font-size: 1.2rem;
  font-weight: 200;
  font-style: normal;
  font-weight: 300;
  margin: 1rem 0;
  letter-spacing: 1px;
  color: #ffffff;
  line-height: 1.8rem;
}

.start-butt {
  font-family: "Lexend";
  /* border: #ffffff 1px solid; */
  margin-top: 2rem;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
}

/* .start-butt span {
  border: #ffffff 1px solid;
  transform: translateX(20px);
} */

.start-butt:hover {
  transform: translateX(20px);
  cursor: pointer;
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --- Right Landing ---*/
.right-landing {
  display: flex;
  width: 50%;
  max-height: 80%;
  margin: 30px;
  margin-bottom: 0px;
}

/* ---------------------------------- Form ---------------------------------- */

.userform-parent {
  animation: fadeInRight 1000ms forwards;
  opacity: 0;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.userform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: #ffffff 1px solid; */
  font-family: "Koulen", cursive;
}

/* ---- Individual Text and Inputs ---- */
form input,
form select {
  color: white;
  width: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(255, 255, 255, 0.09) 100%
  );
  /* white; */
  /* #121212; */
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.cYP {
  font-size: 1.5rem;
  color: white;
}

.eYN {
  color: white;
  font-family: lexend;
}

.calculate {
  font-size: 1.5rem;
  color: white;
}

.hBC {
  color: white;
  font-family: lexend;
  text-decoration: underline;
}

.explain {
  font-family: lexend;
}

.explain span {
  color: #ffa726;
}

.form-butt-on {
  height: 40px;
  width: 150px;
  background: #ffa726;
  border: none;
  cursor: help;
}

/* -------------------------------- CardList -------------------------------- */

.heart {
  margin-top: 100px;
  /* text-decoration: underline; */
  /* border-bottom: white 1px solid; */
}

.cardlist-parent {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background: #121212;
  /* border: lemonchiffon 1px solid; */
  color: white;
}
.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 2rem 0 2rem 0; */
  height: 40vh;
  width: 70%;
  background: #121212;
}

.macro-display {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  position: sticky;
  /* background: orange; */
  top: 7vh;
  width: 30%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.plate {
  width: 80%;
}

/* --------- Card ---------- */

.card {
  margin: 2rem;
  color: white;
  /* border: white 2px solid; */
  animation: fadeInRight 1000ms forwards;
  opacity: 0;
  width: 320px;
  height: 400px;
  font-family: lexend;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 100%
    ),
    #121212;
  /* box-shadow: #ffffff 1px 1px 1px 1px; */
  /* overflow: hidden; */
  /* border: white 1px solid; */
}

.card img {
  width: 100%;
}

.card-name {
  padding: 10px;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: lemonchiffon 1px solid; */
}
.card-stats p {
  display: flex;
  text-align: center;
  font-weight: 100;
  /* justify-content: center; */
  /* border: lemonchiffon 1px solid; */
}
.card-butts {
  display: flex;
  justify-content: space-around;
  /* border: white 1px solid; */
  padding: 10px;
}

.card-butt-recipe {
  border: none;
  letter-spacing: 1px;
  color: white;
  background: transparent;
  font-size: 1rem;
  width: 50%;
  cursor: pointer;
}

.card-butt-add {
  background: #ffa726;
  border: none;
  /* border: white 1px solid; */
  height: 30px;
  width: 50%;
  cursor: pointer;
}

.recipe-link {
  color: white;
  /* text-decoration: none; */
}
