* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Koulen', cursive; */
/* font-family: 'Lexend', sans-serif; */

/* --------------------------------- Navbar --------------------------------- */

.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    #121212;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icon {
  display: flex;
  color: white;
  font-family: "Koulen";
  font-size: 1.2rem;
}

.icon img {
  /* width: 30px; */
  height: 30px;
  /* margin-right: 10px; */
}

.nav-input {
  width: 40%;
  /* border-bottom: white 2px solid; */
}

.user-butt {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 10px;
  border-bottom: white 1px solid;
  /* border-radius: 5px; */
}
