* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Koulen', cursive; */
/* font-family: 'Lexend', sans-serif; */

/* --------------------------------- Navbar --------------------------------- */

.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.09) 100%
    ),
    #121212;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.icon {
  display: flex;
  color: white;
  font-family: "Koulen";
  font-size: 1.3rem;
}

.icon img {
  /* width: 30px; */
  height: 30px;
  /* margin-right: 10px; */
}

.nav-input {
  display: flex;
  width: 40%;
  border-bottom: white 2px solid;
}

.nav-input input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-family: "Lexend";
}

.user-butt {
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: 11px;
  border: white 1px solid;
  padding: 5px;
  text-decoration: underline;
  border-radius: 5px;
  /* background: transparent; */
}

.user-butt:hover {
  color: black;
  background: white;
  border-radius: 2px;
  /* border-bottom: black 1px solid; */
}

.magnify {
  background-color: black;
  /* background: transparent; */

}



/* -------------------------------- CardList -------------------------------- */

.cardlist-parent {
  display: flex;
  height: 100vh;
  background: #121212;
}

.test {
  color: white;
  animation: fadedown 1000ms forwards;
  opacity: 0;
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
